[submodule "themes/hugo-incorporated"]
	path = themes/hugo-incorporated
	url = https://github.com/nilproductions/hugo-incorporated
[submodule "public"]
	path = public
	url = https://github.com/mcramm/mcramm.github.io
